.pagination {
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

.searchAndCreate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
