.card-image img{
    object-fit: contain;
    /*border: 1px solid lightgray;*/
    max-height: 274px;
    width: 100%;
}

.product-card--body {
    max-height: 330px;
}

.price-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.product-header h3{
    height: 40px;
}

@media screen and (max-width: 1200px) {
    .card-image img{
        max-height: 229px;
    }
}

